/*==========================*
 * Styles for display boxes *
 *==========================*/

.box {
    margin: 2rem;
    padding: 1rem;

    width: 640px;
    max-width: calc(100vw - 8rem);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border: dashed 2px var(--white);
    box-sizing: border-box;
}

.box.red {
    border-color: var(--red);
}

.box.green {
    border-color: var(--green);
}

.box.blue {
    border-color: var(--blue);
}

.box img {
    height: 128px;
    width: 128px;
    object-fit: contain;
}

.box bar {
    height: 100%;
    box-sizing: border-box;
    margin: 0 1rem;
    border-left: dashed 2px var(--white);
}

.box.red bar {
    border-color: var(--red);
}

.box.green bar {
    border-color: var(--green);
}

.box .info {
    flex-basis: 1;
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    .box {
        flex-wrap: wrap;
    }

    .box img {
        margin-bottom: 1rem;
    }

    .box bar {
        display: none;
    }
}

.info > .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

.info > .description {
    margin-top: 1rem;
    color: var(--lgrey);
}