/*=====================*
 * Styles for SPA page *
 *=====================*/

.page {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;

    background-color: var(--black);
}

.page.scroll {
    justify-content: flex-start;
    position: relative;
}

.page.red {
    border: 2px solid var(--red);
}

.page.green {
    border: 2px solid var(--green);
}

.page.blue {
    border: 2px solid var(--blue);
}

.scroll {
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.title {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    margin: 4rem 0 2rem 0;
}

.section {
    display: inline-block;

    width: 640px;
    max-width: calc(100vw - 6rem);
    margin: 2rem;

    font-size: 1.8rem;
    text-align: left;
}

.fade {
    position: fixed;
    height: 8rem;
    width: calc(100vw - 2rem);
    pointer-events: none;
}

.top.fade {
    top: 2px;
    background-image: linear-gradient(var(--black), transparent);
}

.bottom.fade {
    bottom: 2px;
    background-image: linear-gradient(transparent, var(--black));
}

.padder {
    padding: 3rem;
}

.page > .description {
    text-align: center;
    line-height: 1.5rem;
}

.page > .description.short {
    display: none;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 491px) {
    .mobile {
        display: block;
    }
}