/*=====================*
 * Styles for SPA page *
 *=====================*/

.page {
    position: relative;
    left: 0;
    top: 0;

    width: calc(100vw - 4px);
    height: calc(100vh - 4px);

    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;

    background-color: var(--black);
}

.page.scroll {
    justify-content: flex-start;
    position: relative;
    overflow-x: hidden;
}

.page.red {
    border: 2px solid var(--red);
}

.page.green {
    border: 2px solid var(--green);
}

.page.blue {
    border: 2px solid var(--blue);
}

.scroll {
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.title {
    display: inline-block;
    text-align: center;
    font-size: 3.2rem;
    margin: 4rem 0 2rem 0;
}

.section {
    display: inline-block;

    width: 640px;
    max-width: calc(100vw - 6rem);
    margin: 2rem;

    font-size: 1.8rem;
    text-align: left;
}

fade {
    position: sticky;

    margin-top: -8rem;

    background-image: url("../media/gradient.png");
    background-repeat: repeat-x;
    background-size: contain;

    pointer-events: none;

    z-index: 1;
}

fade.top {
    top: 0;
    padding: 4rem 50vw;
}

fade.bottom {
    top: calc(100vh - 8rem);
    padding: 4rem 50vw;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.padder {
    padding: 3rem;
}

.page > .description {
    text-align: center;
    line-height: 1.5rem;
}

.page > .description.short {
    display: none;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 491px) {
    .mobile {
        display: block;
    }
}